# Deploy to: /etc/udev/rules.d/99-fluxus-audio.rules
ACTION=="add", SUBSYSTEM=="block", ENV{ID_FS_LABEL}=="FLUX-PHON", RUN+="/usr/local/bin/fluxus-mount.sh mount $env{DEVNAME}"
ACTION=="remove", SUBSYSTEM=="block", ENV{ID_FS_LABEL}=="FLUX-PHON", RUN+="/usr/local/bin/fluxus-mount.sh umount"
